.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-ui {
  background-color: #3a4241;
}

.text-white {
  color: #fff;
  text-decoration: none;
}

.title {
  font-weight: 300;
  font-size: 1.8rem;
}

.input-error {
  border: 1px solid tomato !important;
}

.text-sm {
  font-size: 0.8rem !important;
  padding-left: 0 2 !important;
}

.text-error{
  color: tomato !important;
  font-size: 0.7rem !important;
}

.active-page{
  background:green !important;
}
.page-item.active .page-link{
  background-color: #09CB96 !important;
  border: solid 1px #09CB96 !important;
  color: #fff !important
}
.page-item .page-link{
 color: #3a4241 !important;
}